.primer{

@import "tailwindcss";



@theme {
    --color-primary: #1e40af; /* Example: blue-800 */
    --color-secondary: #f59e0b; /* Example: amber-500 */
    --color-accent: #10b981; /* Example: emerald-500 */
    --color-text: #E0E0E0;
    --color-muted: #A5A5A5;
    --color-select: #FFFFFF;
    --color-bg: #141212; /* Example: gray-50 */
    --color-bg-secondary: #242020;
  }


  @layer utilities {
    .font-bangers {
      font-family: 'Bangers', cursive;
    }

    .text-outline-red {
      color: #FFE500;
      -webkit-text-stroke: 1px #B41D1D;
      text-shadow: none; /* optional, cleaner */
    }

    .text-noise-overlay::after {
      content: '';
      position: absolute;
      inset: 0;
      background-image: url('../assets//noisy-texture-50x50-o13-d10-c-000000-t1.png'); /* replace with correct path */
      background-repeat: repeat;
      background-size: cover;
      mix-blend-mode: multiply;
      opacity: 0.25; /* Adjust to match Figma */
      pointer-events: none;
      z-index: 1;
    }


    .text-bangers-noise {
      background-image:
        url('../assets/45-degree-fabric-light.png'),
        linear-gradient(#FFE500, #FFE500); /* solid yellow background behind noise */
      background-repeat: repeat;
      background-size: cover;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-stroke: 1px #B41D1D;
      text-shadow: none;
    }

    [data-rmiz-modal-overlay="visible"] {
      background-color: rgba(20, 18, 18, 1) !important;
    }

    .border-frame {
      border-style: solid;
      border-width: 30px; /* adjust to your frame thickness */
      border-image-source: url('../assets/border.png');
      border-image-slice: 30; /* adjust slice value to match your frame */
       /* or round, depending on your PNG */
    }

  }
html, body {
    margin: 0;
    padding: 0;
}
}